import module from './module';

module.config(function ( $futureStateProvider, $locationProvider, $urlRouterProvider ) {
    "ngInject";

    var futureStates = [
    {{#states}}
        {
            stateName: '{{name}}',
            url: '{{{url}}}',
            type: '{{type}}'
        },
    {{/states}}
    ];

    futureStates.forEach(function( futureState ){
        $futureStateProvider.futureState(futureState);
    });


    $futureStateProvider.stateFactory( 'asyncState', function( $q, futureState ){
        "ngInject";

        var d = $q.defer();

        switch( futureState.stateName ){
            {{#states}}
            case '{{name}}':
                require.ensure( [ './{{name}}/index' ], function( require ){ moduleResolve( require( './{{name}}/index' ) ); } );
                break;
            {{/states}}
        }

        function moduleResolve( module ){
            var state = {
                name: futureState.stateName,
                url: futureState.url,
                controller: futureState.stateName + 'Ctrl',
                template: module.template
            };
            d.resolve( state );
        }

        return d.promise;
    });

    /**
    * looks like futureState is not compatible with urlRouterProvider.otherwise
    */
    $urlRouterProvider.otherwise( '/' );

    // 启用 html5 history
    $locationProvider.html5Mode(true);

});
